* {
    font-family: "Source Code Pro", monospace;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-image:url(assets/d13c792a155a970f2cb14639ea9c75f8.jpg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    width:auto;
    height:auto;
}

a {
    cursor: pointer;
    margin: 0.15vh;
    border: 0;
}

button {
    cursor: pointer;
    margin: 0.15vh;
    border: 0;
}

.top-right {
    position: absolute;
    top: 1vh;
    right: 1vh;
}

.header {
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 1vh;
}

.footer {
    bottom: 1vh;
    display:flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#controls, #counter {
    text-align: center;
}

#refresh-button {
    margin: 0vh;
    width: 3vh;
    height: 3vh;
}

#refresh-button:hover {
    background-color: #afd5d6;
}

#email-button {
    position:fixed 14vh;
    margin: 1vh;
    background-color: #a5c9ca;
}

#email-button:hover {
    background-color: #afd5d6;
}

#github-icon {
    width: 5vh;
    margin: 1vh;
    position:fixed;
    height: 5vh;
    bottom: 0;
    right: 0;
}

#acm-icon {
    width: 5vh;
    margin: 1vh;
    position:fixed;
    height: 5vh;
    bottom: 0;
    left: 0;
}

.tenor-gif-embed {
    width: 50vh;
    height: 50vh;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}